/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.filter-bar h2 {
    font-size: 18px;
}

.card h3 {
    font-size: 16px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 25px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements h2 {
    margin-top: 0px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements-cards a {
    display: block;
    width: 30%;
    margin-bottom: 25px;
}
.hebergements{
    width: 65%;
    margin-right: 0px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

    /* header */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 79px;
}

nav a {
    margin-left: 68px;
}

nav a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 28px;
}

nav img {
    width: 61px;
    height: 19px;
}
    /* header */

    /*filter bar*/
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-bar-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-bar-buttons div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 40px;
    cursor: pointer;
}

.filter-bar-buttons div:hover {
    background-color: #DEEBFF;
}

    /*filter-bar*/

    /*info*/
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info i {
    color: #0065FC;
    width: 10px;
    height: 10px;
    border: 1px solid #D9D9D9;
    border-radius : 100%;
    padding: 8px;
    margin-right: 10px;
    display: flex;
    align-items: center ;
    justify-content: center;
}
    /*info*/

    /*search-bar*/
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0px;
}

.search-bar i {
    background-color: #F2F2F2;
    color: black;
    padding: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-bar input[type=submit] {
    background-color: #0065FC;
    color: #ffffff;
    border: none;
    padding: 15px 16px;
    font-size: 18px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
}

.search-bar input[type=text] {
    padding: 15px 16px;
    font-size: 18px;
    font-weight: 700; 
    border: none;
    border: 1px solid #F2F2F2;
    border-right: none;
}

.search-bar input[type=text]::placeholder {
    color: black;
}
    /*search-bar*/

    /*Activités*/
.activités img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.activités-cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
    margin-top: 25px;
}
.activités {
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}
.activités .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.activités a {
    display: block;
    width: 25%;
}
    /*Activités*/

    /*footer*/
footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    gap: 15%;
    margin-top: 35px;
    padding-left: 30px;
}

footer ul {
    list-style: none;
    padding-left: 0px; 
    padding-bottom: 15px;
}

footer li {
    padding-bottom: 20px;
}

    /*footer*/
    
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités img {
        height: 150px;
    }

    /*filter-bar sur tablette avec retour à la ligne après le titre*/

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
      
    body {
        margin: 0px;
    }

    header nav {
        flex-direction: column;
    }

    header nav div {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    header nav a {
        margin: 0px;
    }

    header nav a:hover {
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
        border-top: none;
        padding-top: none;
    }

    header img {
        margin: auto;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-bar-buttons div {
        width: 130px;
        justify-content: center;
        margin: auto;
    }

    .search-bar input[type=text] {
    width: 70%;
    }

    .search-bar input[type=submit] {
    border-radius: 15px 15px 15px 15px;  
    }

    .hebergements-and-populaires section {
        background-color: #ffffff;
    }
    
    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements a {
        width: 100%;
    }
    
    .populaires-cards {
        flex-direction: column;
    }

    .populaires a {
        width: 100%;
    }

    .populaires {
        margin-top: 15px;
    }

    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
        border-radius: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .activités-cards {
        flex-direction: column;
    }
    .activités a {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
    
}